.card{
    display: flex;
    margin-top: 100px;
    gap: 5px;

}
.cardtruck{
    width: 300px;
    height: 200px;
    background-color: rgb(243,243,243);
}
.cach{
    width: 300px;
    height: 200px;
    background-color: rgb(243,243,243);
}
.return{
    width: 350px;
    height: 200px;
    background-color: rgb(243,243,243);
}
.open{
    width: 350px;
    height: 200px;
    background-color: rgb(243,243,243);
}